body{
  background-color:white;

}
.homePage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.nav-link{
  font-family: 'Montserrat', sans-serif!important;
}
.navbar-brand{
  margin-left: 5rem;
}
.navbar-nav{
  margin-left: 50rem;
}
#missionNav{
  margin-bottom: 15rem;
}
#contact{
  margin-bottom: 5rem;
}
.mapmission{
  margin-top:100px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.map{
  height:400px;
  width:400px;
  background:white;
  border-radius:20px;
   box-shadow:
    8px 8px 12px 0 rgba(255, 255, 255, .6),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.6);
}



.mission{
  width:700px;
  font-size:14px;
  font-family: 'Montserrat', sans-serif;
  color:gray;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-left:auto;
  margin-right:auto;

}

.map{
  width:100%;
  display:flex;
  justify-content:space-around;
  align-items:center;
}
.nyc{
  width: 10rem;
	height: 10rem;
	border-radius: 50%;
	background:gray;
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  font-family: 'IBM Plex Mono', monospace;
  font-size:20px;
}

.loi{
  width: 10rem;
	height: 10rem;
	border-radius: 50%;
	background:gray;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  font-family: 'IBM Plex Mono', monospace;
}

.line{
  height:5px;
  width:1000px;
  background:gray;
}

.mission h2{
  font-family: 'IBM Plex Mono', monospace;
  color:gray;
}
.teamtitle{
  margin-top:150px;
  text-align:center;
  color:gray;
  font-family: 'IBM Plex Mono', monospace;

}
.cards1{
  margin-top:100px;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
}

.cards2{
  margin-top:100px;
  display:flex;
  justify-content:space-evenly;
  align-items:center;

}
.teampic{
  width: 20rem;
}
.card{
  height:350px;
  width:250px;
  border-radius:0px;
  cursor:pointer;
  font-size:14px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border-top: 5px solid #9f82ff;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
/*    box-shadow:
    8px 8px 12px 0 rgba(52, 0, 104, 1),
    -8px -8px 12px 0 rgba(255, 255, 255, .6); */

  font-family: 'IBM Plex Mono', monospace;
  color:black;

}
a{
  text-decoration: none;
}
.card:hover{
/*    box-shadow:
    12px 12px 12px 0 rgba(0, 211, 161, .7),
    -12px -12px 12px 0 rgba(52, 0, 104, 1); */

  box-shadow: 2px 4px 5px rgba(159, 130, 255, 0.3);


  font-size:16px;
}



.joinus{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-top:150px;
  color:gray;
  font-family: 'IBM Plex Mono', monospace;


}

.joinus h4{
  font-size: 17px;
  font-weight: bold;

}

.joinus button{
  border-radius:50px;
  height:40px;
  width:100px;
  cursor:pointer;
  background-color:white;
  font-size:14px;
  padding:5px;
  color:gray;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 10px;
  margin-bottom:25px;

}

.donation{
  border: 5px solid #9f82ff;
}
.application{
  border: 5px solid #12fdda;
}

.donation:active {
  transform: scale(0.98);
  background-color:#9f82ff;
  color:white;
}
.application:active {
  transform: scale(0.98);
  background-color:#12fdda;
  color:white;
}

.donation:focus {
  outline: 0;
}

.application:focus {
  outline: 0;
}

.waves {
  margin-top:200px;
  position:relative;
  width: 100%;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:110px;
  max-height:130px;


}



/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;

}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 10s;
}


@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }

}
